In [1]:
# Importing libraries and data
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\anon\Documents\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
orders = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
orders.shape

(3421083, 7)

In [6]:
products = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
products.shape

(49693, 5)

In [9]:
departments = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [10]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [11]:
departments.shape

(21, 2)

In [12]:
ords_prods_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [13]:
ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
ords_prods_prior.shape

(32434489, 4)

In [ ]:
combined = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

## Products

In [15]:
# Check for missing values in 'products' data
products.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [16]:
# Assign present product name values to a new dataframe
clean_products = products[products['product_name'].isnull() == False]

In [17]:
clean_products

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [18]:
# Look for full duplicates
duplicates = clean_products[clean_products.duplicated()]

In [19]:
duplicates

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
clean_products_no_dups = clean_products.drop_duplicates()

In [21]:
clean_products_no_dups.shape

(49672, 5)

In [22]:
# Check for mixed types
for col in clean_products_no_dups.columns.tolist():
  mixedt = (clean_products_no_dups[[col]].applymap(type) != clean_products_no_dups[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (clean_products_no_dups[mixedt]) > 0:
    print (col)

In [23]:
clean_products_no_dups.shape

(49672, 5)

In [24]:
clean_products_no_dups.to_csv(os.path.join(path, 'Data','Prepared Data', 'products_checked.csv'))

## Orders

In [25]:
orders.shape

(3421083, 7)

In [26]:
# Check for missing values in 'orders' data, but the null values are legit so keep them
orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [27]:
# Look for full duplicates, no duplicates
orders_dups = orders[orders.duplicated()]

In [28]:
orders_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [29]:
# Check for mixed types
for col in orders.columns.tolist():
  mixedt = (orders[[col]].applymap(type) != orders[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (orders[mixedt]) > 0:
    print (col)

In [30]:
orders.shape

(3421083, 7)

In [31]:
# no need to export

## Departments

In [32]:
# Check for missing values in 'products' data
departments.isnull().sum()

department_id    0
department       0
dtype: int64

In [33]:
# Look for full duplicates
departments_no_dups = departments[departments.duplicated()]

In [34]:
departments_no_dups

Empty DataFrame
Columns: [department_id, department]
Index: []

In [35]:
# Check for mixed types
for col in departments.columns.tolist():
  mixedt = (departments[[col]].applymap(type) != departments[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (departments[mixedt]) > 0:
    print (col)

In [36]:
# no need to export

## Orders Products Prior

In [37]:
# Check for missing values in 'products' data
ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [38]:
# Look for full duplicates
ords_prods_prior_no_dups = ords_prods_prior[ords_prods_prior.duplicated()]

In [39]:
ords_prods_prior_no_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [40]:
# Check for mixed types
for col in ords_prods_prior.columns.tolist():
  mixedt = (ords_prods_prior[[col]].applymap(type) != ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (ords_prods_prior[mixedt]) > 0:
    print (col)

In [41]:
# no need to export